[submodule "colors/start/gruvbox"]
	path = colors/start/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "plugins/start/fugitive"]
	path = plugins/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "plugins/start/nerdtree"]
	path = plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "plugins/start/nerdtree-git-plugin"]
	path = plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
